<div class="container">
  <h3>BILLS</h3>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label style="margin-right: 5px">Name : </label>
        <input
          class="form-control"
          type="text"
          (input)="onNameChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Name :</b></label>
      <div>{{ name | titlecase }}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label style="margin-right: 5px">Date : </label>
        <input
          class="form-control"
          type="date"
          (input)="onDateChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Date :</b></label>
      <div>{{ date | date: "MMMM d, y" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label style="margin-right: 5px">Money : </label>
        <input
          class="form-control"
          type="number"
          (input)="onMoneyChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Money :</b></label>
      <div>{{ money | currency: "$" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label style="margin-right: 5px">Height : </label>
        <input
          class="form-control"
          type="number"
          (input)="onHeightChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Height :</b></label>
      <div>{{ height | number: "1.1-4" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label style="margin-right: 5px">Distance Mil : </label>
        <input
          class="form-control"
          type="number"
          (input)="onDistanceChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Distance Km :</b></label>
      <div>{{ distance | convertMilToKm:'km' }}</div>
    </div>
  </div>
</div>
